# Logs
logs
*.log
npm-debug.log*

# Bundled files
lib/

# Dependency directories
node_modules/

# Optional eslint cache
.eslintcache

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz
